body {
  margin: 0;
  font-family: "montserrat", Arial, sans-serif;
  background-image: radial-gradient(
      circle at 69% 86%,
      rgba(165, 165, 165, 0.06) 0%,
      rgba(165, 165, 165, 0.06) 25%,
      rgba(193, 193, 193, 0.06) 25%,
      rgba(193, 193, 193, 0.06) 50%,
      rgba(221, 221, 221, 0.06) 50%,
      rgba(221, 221, 221, 0.06) 75%,
      rgba(249, 249, 249, 0.06) 75%,
      rgba(249, 249, 249, 0.06) 100%
    ),
    radial-gradient(
      circle at 49% 76%,
      rgba(129, 129, 129, 0.06) 0%,
      rgba(129, 129, 129, 0.06) 25%,
      rgba(164, 164, 164, 0.06) 25%,
      rgba(164, 164, 164, 0.06) 50%,
      rgba(200, 200, 200, 0.06) 50%,
      rgba(200, 200, 200, 0.06) 75%,
      rgba(235, 235, 235, 0.06) 75%,
      rgba(235, 235, 235, 0.06) 100%
    ),
    radial-gradient(
      circle at 22% 64%,
      rgba(173, 173, 173, 0.06) 0%,
      rgba(173, 173, 173, 0.06) 25%,
      rgba(119, 119, 119, 0.06) 25%,
      rgba(119, 119, 119, 0.06) 50%,
      rgba(64, 64, 64, 0.06) 50%,
      rgba(64, 64, 64, 0.06) 75%,
      rgba(10, 10, 10, 0.06) 75%,
      rgba(10, 10, 10, 0.06) 100%
    ),
    linear-gradient(307deg, rgb(255, 255, 255), rgb(255, 255, 255));
}
.page-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: black;
}
.stock-ticker {
  height: 4%;
  background-color: black;
  overflow: hidden;
  padding-left: 100%;
  box-sizing: content-box;
  display: flex;
  align-items: center;
}

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker {
  display: inline-block;
  white-space: nowrap;
  padding-right: 100%;
  box-sizing: content-box;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 150s;
  animation-duration: 150s;
}
.ticker-item {
  display: inline-block;
  padding: 0 1rem;
  font-size: 1rem;
  color: white;
}
.searchbar-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 10%;
  width: 100%;
  border-bottom: 1px solid lightgray;
  /* background-color: burlywood; */
  background-image: linear-gradient(
      200deg,
      rgba(171, 171, 171, 0.05) 0%,
      rgba(171, 171, 171, 0.05) 23%,
      rgba(90, 90, 90, 0.05) 23%,
      rgba(90, 90, 90, 0.05) 48%,
      rgba(65, 65, 65, 0.05) 48%,
      rgba(65, 65, 65, 0.05) 61%,
      rgba(232, 232, 232, 0.05) 61%,
      rgba(232, 232, 232, 0.05) 100%
    ),
    linear-gradient(
      126deg,
      rgba(194, 194, 194, 0.05) 0%,
      rgba(194, 194, 194, 0.05) 11%,
      rgba(127, 127, 127, 0.05) 11%,
      rgba(127, 127, 127, 0.05) 33%,
      rgba(117, 117, 117, 0.05) 33%,
      rgba(117, 117, 117, 0.05) 99%,
      rgba(248, 248, 248, 0.05) 99%,
      rgba(248, 248, 248, 0.05) 100%
    ),
    linear-gradient(
      144deg,
      rgba(64, 64, 64, 0.05) 0%,
      rgba(64, 64, 64, 0.05) 33%,
      rgba(211, 211, 211, 0.05) 33%,
      rgba(211, 211, 211, 0.05) 50%,
      rgba(53, 53, 53, 0.05) 50%,
      rgba(53, 53, 53, 0.05) 75%,
      rgba(144, 144, 144, 0.05) 75%,
      rgba(144, 144, 144, 0.05) 100%
    ),
    linear-gradient(329deg, hsl(148, 0%, 0%), hsl(148, 0%, 0%));
}
.ticker-item-price {
  color: green;
  margin-left: 0.5rem;
}
.stock-search-title {
  text-align: center;
  font-size: 1.5rem;
  color: white;
  height: 50%;
  padding-bottom: 1rem;
}
.searchbar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 90%;
}
.stock-search {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50%;
}
.stock-search input {
  width: 50%;
}
.compare-wrapper {
  display: flex;
  justify-content: center;
  width: 50%;
  background-color: black;
  border: 1px solid white;
  margin: auto;
}
.comp-entry-button {
  background-color: #61d1f7;
  color: black;
  border: 1px solid black;
  border-radius: 6px;
  padding: 0.33rem;
  font-family: "montserrat";
  margin: 0.33rem 0.25rem;
  min-width: 4rem;
}
.highlight {
  background-color: yellow;
}
.main-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 85%;
  width: 100%;
  background-image: radial-gradient(
      circle at 28% 44%,
      hsla(77, 0%, 3%, 0.05) 0%,
      hsla(77, 0%, 3%, 0.05) 1%,
      transparent 1%,
      transparent 73%,
      transparent 73%,
      transparent 100%
    ),
    radial-gradient(
      circle at 81% 65%,
      hsla(77, 0%, 3%, 0.05) 0%,
      hsla(77, 0%, 3%, 0.05) 18%,
      transparent 18%,
      transparent 77%,
      transparent 77%,
      transparent 100%
    ),
    radial-gradient(
      circle at 51% 45%,
      hsla(77, 0%, 3%, 0.05) 0%,
      hsla(77, 0%, 3%, 0.05) 11%,
      transparent 11%,
      transparent 12%,
      transparent 12%,
      transparent 100%
    ),
    radial-gradient(
      circle at 10% 56%,
      hsla(77, 0%, 3%, 0.05) 0%,
      hsla(77, 0%, 3%, 0.05) 82%,
      transparent 82%,
      transparent 90%,
      transparent 90%,
      transparent 100%
    ),
    radial-gradient(
      circle at 42% 35%,
      hsla(77, 0%, 3%, 0.05) 0%,
      hsla(77, 0%, 3%, 0.05) 22%,
      transparent 22%,
      transparent 77%,
      transparent 77%,
      transparent 100%
    ),
    radial-gradient(
      circle at 26% 86%,
      hsla(77, 0%, 3%, 0.05) 0%,
      hsla(77, 0%, 3%, 0.05) 17%,
      transparent 17%,
      transparent 52%,
      transparent 52%,
      transparent 100%
    ),
    radial-gradient(
      circle at 52% 88%,
      hsla(77, 0%, 3%, 0.05) 0%,
      hsla(77, 0%, 3%, 0.05) 49%,
      transparent 49%,
      transparent 70%,
      transparent 70%,
      transparent 100%
    ),
    radial-gradient(
      circle at 62% 41%,
      hsla(77, 0%, 3%, 0.05) 0%,
      hsla(77, 0%, 3%, 0.05) 14%,
      transparent 14%,
      transparent 45%,
      transparent 45%,
      transparent 100%
    ),
    radial-gradient(
      circle at 54% 59%,
      hsla(77, 0%, 3%, 0.05) 0%,
      hsla(77, 0%, 3%, 0.05) 42%,
      transparent 42%,
      transparent 86%,
      transparent 86%,
      transparent 100%
    ),
    linear-gradient(135deg, hsl(196, 0%, 96%), hsl(196, 0%, 96%));
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.result-list {
  font-weight: bold;
  margin: 1rem;
  width: 50%;
}
.loader-box {
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin: 1rem;
  width: 50%;
}
.result-list a {
  text-decoration: none;
  color: black;
}
.items {
  border-bottom: 1px solid lightgray;
  margin-bottom: 0.5rem;
  padding-bottom: 0.33rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.items a {
  display: flex;
  align-items: center;
}
.items a img {
  height: 2rem;
  margin-right: 1rem;
  border: 2px solid black;
  border-radius: 6px;
}
.compare-button {
  display: inline-block;
  background-color: #61d1f7;
  color: black;
  border: 1px solid black;
  border-radius: 6px;
  padding: 0.33rem;
  font-family: "montserrat";
}
.start-compare-button {
  background-color: #61d1f7;
  color: black;
  border: 1px solid white;
  border-radius: 6px;
  padding: 0.33rem;
  font-family: "montserrat";
  margin: 0.33rem 0;
}

/* Company-page-specific CSS Begins */

.company-page-wrapper {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100vh;
  width: 100vw;
  align-items: center;
  background-image: linear-gradient(
      158deg,
      rgba(84, 84, 84, 0.03) 0%,
      rgba(84, 84, 84, 0.03) 20%,
      rgba(219, 219, 219, 0.03) 20%,
      rgba(219, 219, 219, 0.03) 40%,
      rgba(54, 54, 54, 0.03) 40%,
      rgba(54, 54, 54, 0.03) 60%,
      rgba(99, 99, 99, 0.03) 60%,
      rgba(99, 99, 99, 0.03) 80%,
      rgba(92, 92, 92, 0.03) 80%,
      rgba(92, 92, 92, 0.03) 100%
    ),
    linear-gradient(
      45deg,
      rgba(221, 221, 221, 0.02) 0%,
      rgba(221, 221, 221, 0.02) 14.286%,
      rgba(8, 8, 8, 0.02) 14.286%,
      rgba(8, 8, 8, 0.02) 28.572%,
      rgba(52, 52, 52, 0.02) 28.572%,
      rgba(52, 52, 52, 0.02) 42.858%,
      rgba(234, 234, 234, 0.02) 42.858%,
      rgba(234, 234, 234, 0.02) 57.144%,
      rgba(81, 81, 81, 0.02) 57.144%,
      rgba(81, 81, 81, 0.02) 71.42999999999999%,
      rgba(239, 239, 239, 0.02) 71.43%,
      rgba(239, 239, 239, 0.02) 85.71600000000001%,
      rgba(187, 187, 187, 0.02) 85.716%,
      rgba(187, 187, 187, 0.02) 100.002%
    ),
    linear-gradient(
      109deg,
      rgba(33, 33, 33, 0.03) 0%,
      rgba(33, 33, 33, 0.03) 12.5%,
      rgba(147, 147, 147, 0.03) 12.5%,
      rgba(147, 147, 147, 0.03) 25%,
      rgba(131, 131, 131, 0.03) 25%,
      rgba(131, 131, 131, 0.03) 37.5%,
      rgba(151, 151, 151, 0.03) 37.5%,
      rgba(151, 151, 151, 0.03) 50%,
      rgba(211, 211, 211, 0.03) 50%,
      rgba(211, 211, 211, 0.03) 62.5%,
      rgba(39, 39, 39, 0.03) 62.5%,
      rgba(39, 39, 39, 0.03) 75%,
      rgba(55, 55, 55, 0.03) 75%,
      rgba(55, 55, 55, 0.03) 87.5%,
      rgba(82, 82, 82, 0.03) 87.5%,
      rgba(82, 82, 82, 0.03) 100%
    ),
    linear-gradient(
      348deg,
      rgba(42, 42, 42, 0.02) 0%,
      rgba(42, 42, 42, 0.02) 20%,
      rgba(8, 8, 8, 0.02) 20%,
      rgba(8, 8, 8, 0.02) 40%,
      rgba(242, 242, 242, 0.02) 40%,
      rgba(242, 242, 242, 0.02) 60%,
      rgba(42, 42, 42, 0.02) 60%,
      rgba(42, 42, 42, 0.02) 80%,
      rgba(80, 80, 80, 0.02) 80%,
      rgba(80, 80, 80, 0.02) 100%
    ),
    linear-gradient(
      120deg,
      rgba(106, 106, 106, 0.03) 0%,
      rgba(106, 106, 106, 0.03) 14.286%,
      rgba(67, 67, 67, 0.03) 14.286%,
      rgba(67, 67, 67, 0.03) 28.572%,
      rgba(134, 134, 134, 0.03) 28.572%,
      rgba(134, 134, 134, 0.03) 42.858%,
      rgba(19, 19, 19, 0.03) 42.858%,
      rgba(19, 19, 19, 0.03) 57.144%,
      rgba(101, 101, 101, 0.03) 57.144%,
      rgba(101, 101, 101, 0.03) 71.42999999999999%,
      rgba(205, 205, 205, 0.03) 71.43%,
      rgba(205, 205, 205, 0.03) 85.71600000000001%,
      rgba(53, 53, 53, 0.03) 85.716%,
      rgba(53, 53, 53, 0.03) 100.002%
    ),
    linear-gradient(
      45deg,
      rgba(214, 214, 214, 0.03) 0%,
      rgba(214, 214, 214, 0.03) 16.667%,
      rgba(255, 255, 255, 0.03) 16.667%,
      rgba(255, 255, 255, 0.03) 33.334%,
      rgba(250, 250, 250, 0.03) 33.334%,
      rgba(250, 250, 250, 0.03) 50.001000000000005%,
      rgba(231, 231, 231, 0.03) 50.001%,
      rgba(231, 231, 231, 0.03) 66.668%,
      rgba(241, 241, 241, 0.03) 66.668%,
      rgba(241, 241, 241, 0.03) 83.33500000000001%,
      rgba(31, 31, 31, 0.03) 83.335%,
      rgba(31, 31, 31, 0.03) 100.002%
    ),
    linear-gradient(
      59deg,
      rgba(224, 224, 224, 0.03) 0%,
      rgba(224, 224, 224, 0.03) 12.5%,
      rgba(97, 97, 97, 0.03) 12.5%,
      rgba(97, 97, 97, 0.03) 25%,
      rgba(143, 143, 143, 0.03) 25%,
      rgba(143, 143, 143, 0.03) 37.5%,
      rgba(110, 110, 110, 0.03) 37.5%,
      rgba(110, 110, 110, 0.03) 50%,
      rgba(34, 34, 34, 0.03) 50%,
      rgba(34, 34, 34, 0.03) 62.5%,
      rgba(155, 155, 155, 0.03) 62.5%,
      rgba(155, 155, 155, 0.03) 75%,
      rgba(249, 249, 249, 0.03) 75%,
      rgba(249, 249, 249, 0.03) 87.5%,
      rgba(179, 179, 179, 0.03) 87.5%,
      rgba(179, 179, 179, 0.03) 100%
    ),
    linear-gradient(
      241deg,
      rgba(58, 58, 58, 0.02) 0%,
      rgba(58, 58, 58, 0.02) 25%,
      rgba(124, 124, 124, 0.02) 25%,
      rgba(124, 124, 124, 0.02) 50%,
      rgba(254, 254, 254, 0.02) 50%,
      rgba(254, 254, 254, 0.02) 75%,
      rgba(52, 52, 52, 0.02) 75%,
      rgba(52, 52, 52, 0.02) 100%
    ),
    linear-gradient(90deg, #ffffff, #ffffff);
}
.company-top-row-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.company-top-row-wrapper-compare {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.company-image {
  margin-top: 5rem;
}
.company-image-compare {
  margin-top: 1rem;
}
.company-image img {
  border-radius: 50%;
  border: 2px solid slategray;
  border-radius: 6px;
  max-height: 125px;
}
.company-image-compare img {
  border-radius: 50%;
  border: 2px solid slategray;
  border-radius: 6px;
  max-height: 55px;
}
.company-name,
.company-name-compare {
  border-bottom: 2px solid slategray;
}
.company-name h1 {
  font-size: 2rem;
  text-align: center;
  padding: 0 1rem;
}
.company-name-compare h1 {
  font-size: 1rem;
  text-align: center;
  padding: 0 1rem;
}
.stock-price-wrapper {
  display: flex;
}
.current-stock-price {
  margin-right: 0.75rem;
}
.positive-change {
  color: green;
}
.negative-change {
  color: red;
}
.stock-chart {
  width: 50%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  padding-bottom: 0.5rem;
}
.stock-chart-compare {
  width: 85%;
  display: flex;
  justify-content: center;
  padding-bottom: 0.5rem;
}
.chart-itself {
  max-height: 30rem;
  max-width: 60rem;
}
.company-description {
  width: 70%;
  text-align: center;
  letter-spacing: 0.02em;
  line-height: 2rem;
  border-bottom: 2px solid slategray;
}
.company-description-compare {
  width: 85%;
  text-align: center;
  letter-spacing: 0.02em;
  line-height: 1.5rem;
  border-bottom: 2px solid slategray;
}
.company-description-compare p {
  font-size: 0.85rem;
}
.company-link {
  margin-top: 1rem;
}
.company-link a {
  text-decoration: none;
  font-size: 2rem;
  color: lightslategray;
}
.hideme {
  display: none;
}
.compare-page-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
.compare-title-text {
  font-family: "montserrat", Arial, sans-serif;
  margin: 2rem 0;
}
.compare-results-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 95%;
  height: 100%;
}
.result-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: white;
  /* border: 1px solid red; */
  border-radius: 6px;
  margin: 0 1rem;
  overflow: auto;
  width: 33%;
  height: 90%;
}
